body {
    padding: 0px;
    margin: 0px;
    background: #8AF3F9;
    background-size: cover;
}

.rotate_01 {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
   margin: -60px 0 0 -280px;
   -webkit-transition: -webkit-transform 1s;

}

.rotate_01:hover {
    -webkit-transform: rotate(360deg) translateZ(0);

}